* {
    padding: 0;
    margin: 0;
    list-style: none;
}
*::selection {
     background: #e94c88;
     color: #ffffff;
}

#site-nav{
    height: 68px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    padding: 0 50px;
}

.site-nav-list{
    display: flex;
    flex: 1;
    height: 100%;
    flex-flow: row;
    justify-content:start;
    align-items: center;
}

.site-nav-left{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content:start;
    align-items: center;
}
.site-nav-right{
    height: 100%;
    display: flex;
    flex-flow: row-reverse;
    justify-content:start;
    align-items: center;
}
.site-nav-logo-box{
    height: 40%;
}
.site-nav-logo{
    height: 100%;
    margin-right: 10px;
}
.site-nav-list li{
    line-height: 68px;
    color: rgba(0, 0, 0, 0.49);
    padding: 0 8px;
    margin-left: 16px;
}
.site-nav-list li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 700;
    font-size: 14px;
}
.site-nav-list li a:hover{
    color: #e94c88;
}

#main{
    margin: 25px 50px;
}
.info-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*height: 36px;*/
    margin: 12px 0;
}
.text-red{
    color: #e94c88;
}

.button-box,
.button-box-border,
.button-box-border:hover,
.button-box-border-red{
    outline: none;
    border-radius: 5px;
    border: 0;
    height: 36px;
    font-weight: 700;
    box-sizing: border-box;
    transition: border 0.3s,color 0.3s;
    white-space: nowrap;
    padding: 0 16px;
}
.button-box{
    background-color: #e94c88;
    color: white;
    height: 36px;
}
.button-box-border{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.button-box-border:hover,
.button-box-border-red{
    background-color: transparent;
    border: 1px solid #e94c88;
    color: #e94c88;
}

.info-title-description{
    margin: 12px 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.black-view{
    background-color: #201850;
    border-radius: 12px;
    margin: 16px 0;
    padding: 16px 28px;
    color: white;
    font-weight: 700;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.black-view .button-box{
    margin-left: 36px;
}

.info-box{
    margin-top: 36px;
    padding-bottom: 24px;
    /*box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.25);*/
}
.lr-img-box{
    height: 240px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /*align-items: start;*/
}
.lr-img-box .info{
    padding-right: 40px;
    display: flex;
    flex-flow: column;
    /*justify-content: space-between;*/
    padding-bottom: 80px;
}
.lr-img-box .img-box{
    flex: 1;
    /*width: 200px;*/
    /*padding-left: 200px;*/
}
.lr-img-box .img-box img{
    border-radius: 16px;
    height: 100%;
}
.all-button{
    margin: 12px 0;
    /*display: flex;*/
}
.all-button button{
    margin-right: 12px;
}